@import './base.css';

body {
}

#app {
    display: flex;
    margin: 0 auto;
    padding: 2rem;

    font-weight: normal;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: var(--vt-c-link-text);
    transition: 0.4s;
}

@media (hover: hover) {
    a:hover {
        color: var(--vt-c-link-text-hover);
        background-color: var(--vt-c-link-bg-hover);
    }
}

@media() {
    #app {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0 2rem;
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
