@import './base.css';

body {
}

#app {
    display: flex;
    margin: 0 auto;
    padding: 2rem;

    font-weight: normal;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: var(--vt-c-link-text);
    transition: 0.4s;
}

@media (hover: hover) {
    a:hover {
        color: var(--vt-c-link-text-hover);
        background-color: var(--vt-c-link-bg-hover);
    }
}

@media() {
    #app {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0 2rem;
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.modal {
    position: fixed;
    z-index: 999;
    background-color: var(--color-background);
    border: 3px solid var(--color-border);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-content {
    height: 80%;
    border: 3px solid var(--color-border-hover);
    overflow: auto;
}
.modal-content {
}
